---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Ebenezer Bassit Adam</h1>
      <h2 class="text-base dark:text-white">
        ebenadam99@gmail.com | +1 (952) 681-9918
      </h2>
      <h3 class="text-base dark:text-white">
        <a
          href="https://www.linkedin.com/in/ebenezer-bassit-adam"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >https://www.linkedin.com/in/ebenezer-bassit-adam</a
        >
      </h3>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        description="Modules: Business Technology Strategy, Business Intelligence, Data Analytics, Project Management, Information Security."
        name="Expected Dec 2024"
        title="MSc. Information Technology Administration and Management"
        subTitle="Concordia University - St. Paul, Minnesota, United States"
      />

      <RowEntry
        description="Modules: Software Development, Databases, Operating Systems, Networking, Software Design, Project Management."
        name="Oct 2019"
        title="BSc. Computer Science"
        subTitle="Lancaster University, Tantra-Hill, Ghana"
      />
    </div>

    <div id="professional-experience" class="mb-6">
      <SectionTitle title="Professional Experience" />

      <RowEntry
        description="Upgraded 400 Red Hat Enterprise Linux from version 7 to 8 using Ansible. Enrolled 400 servers to Red Hat Satellite Platform using Ansible. Automated periodic patching of 1000 servers using Red Hat Satellite. Installed Argo CD to implement automated versioning and deployment for mobile application services. Created CI/CD pipelines using Gitlab and Argo CD. Scripted and managed secure payment file transfer across multiple digital channels, handling $30M in transactions annually. Designed and configured Oracle Cloud Infrastructure Logging Analytics on cloud and on-premise systems."
        name="Jun 2022 – Aug 2023"
        title="Senior Engineer"
        subTitle="Ecobank Transnational Incorporated, Accra, Ghana"
      />

      <RowEntry
        description="Upgraded Firmware, Microcode, and GPFS of 200 AIX servers. Tuned ORACLE Real Application Cluster Databases and WebLogic application servers for optimum performance. Performed root cause analysis, documented findings, and implemented permanent solutions to address issues. Installed and configured bare metal Veritas NetBackup systems from scratch in a data center environment. Created backup policies and enrolled 500 servers to NetBackup. Automated backup job—improved turnaround time by 60%. Saved the company a sum of 350,000 USD from an imminent court action by restoring backup data."
        name="Nov 2021 - May 2022"
        title="Senior Systems Administrator"
        subTitle="Ecobank Transnational Incorporated, Accra, Ghana"
      />

      <RowEntry
        description="Provided second-level support of about 1,500 Linux and AIX systems across 33 countries. Administered over 1000 users using Red Hat Identity Manager. Engaged in capacity planning and provisioned storage from HITACHI, DS800, and FLASH systems. Improved ticket resolution turnaround time and ensured 95% of service uptime. Awarded four times for meeting service and operational level agreement (SLA/OLA) target of 95%. Improved efficiency of management by building a worksheet template on Microsoft Excel for resource and capacity tracking. Monitored capacity utilization of storage systems and generated reports weekly."
        name="Oct 2020 – Oct 2021"
        title="Junior Systems Administrator"
        subTitle="Ecobank Transnational Incorporated, Accra, Ghana"
      />
    </div>

    <div id="project-and-leadership-experience" class="mb-6">
      <SectionTitle title="Project and Leadership Experience" />

      <RowEntry
        description="Founded a logistics company and oversaw a team of 5 staff. Managed social media accounts and digital marketing. Developed a business model that secured partnerships with other companies and also grew customer base by 70% in a month. Pitched to raise initial capital of $2,000 to purchase motorcycles and food warmers."
        name="March 2019 – August 2021"
        title="Founder and CEO"
        subTitle="Burgundy Deliveries, Accra, Ghana"
      />
    </div>

    <div id="skills-and-interests" class="mb-6">
      <SectionTitle title="Skills and Interests" />

      <RowEntry description="Microsoft Office Suite and General ICT tools." name="Information and Communication Technology (ICT)" />
      <RowEntry description="AWS Certified Cloud Practitioner (Nov 2022), Microsoft Certified: Azure Fundamentals (Feb 2021), GitOps at Scale (Nov 2022)." name="Certifications" />
      <RowEntry description="Creative in solving complex problems." name="Problem Solving" />
      <RowEntry description="Excellent critical thinking in analyzing situations from every angle." name="Critical Thinking" />
      <RowEntry description="Bash (proficient)." name="Programming Languages" />
      <RowEntry description="Art, UI Design, Music, Disk Jockey, Basketball, Crypto, Forex." name="Other Interests" />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://github.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/ebenezer-bassit-adam" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:medium" label="medium" url="https://www.medium.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:dev" label="dev" url="https://www.dev.to/" />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:stack-overflow"
          label="stack-overflow"
          url="#"
        />
      </div>
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://www.stackoverflow.com/" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>